body {
  margin: 0;
  padding: 0;
}

.top-container {
  background-color: #c0c9ee;
  position: relative;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fireworks {
  position: absolute;
  right: 140px;
  top: 5px;
  width: 450px;
  height: auto;
}

h1 {
  font-size: 5.8em;
  color: #4b3f72;
  font-family: "Sacramento", cursive;
}

h2 {
  font-size: 2em;
  margin-bottom: 50px;
  font-weight: normal;
  text-align: center;
  color: #6668ba;
}

.web-developer {
  text-decoration: underline;
}

.waves {
  width: 300px;
  height: auto;
}

.middle-container {
  margin-top: 100px;
  background-color: aliceblue;
}
