body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.top-container {
  background-color: #c0c9ee;
  position: relative;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fireworks {
  position: absolute;
  right: 140px;
  top: 5px;
  width: 450px;
  height: auto;
}

.tyochin {
  position: absolute;
  left: 210px;
  top: 25px;
  width: 400px;
  height: auto;
}

.name {
  font-size: 5.8em;
  color: #4b3f72;
  font-family: "Sacramento", cursive;
}

.subtitle {
  font-size: 2em;
  margin-bottom: 50px;
  font-weight: normal;
  text-align: center;
  color: #6668ba;
}

.web-developer {
  text-decoration: underline;
}

.waves {
  width: 300px;
  height: auto;
}

.middle-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myFace {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hello {
  font-size: 2.5em;
  color: #6668ba;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.intro {
  text-align: center;
  font-weight: normal;
  line-height: 2;
}

hr {
  border: dotted #6668ba 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.skill-title {
  font-size: 2.5em;
  color: #6668ba;
  font-weight: normal;
  margin-bottom: 20px;
  margin-left: 5px;
  text-align: center;
  margin-top: 0;
}

.skill-detail {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  margin: 70px auto 0 auto;
  text-align: left;
  row-gap: 2rem;
  width: 50%;
}

.pc-img {
  width: 73%;
  height: auto;
  margin-top: 0;
}
